REMOTE_API_BASE=https://olivia.photoclinic.kr
OLIVIA_WORKER_ID=jake-macbookpro-01
OLIVIA_WORKER_TOKEN=CHANGE_ME
OLIVIA_REPO_ROOT=/Users/CHANGE_ME/olivia-worker
OLIVIA_PHOTO_SOURCE_ROOT=/Users/CHANGE_ME/Movies/촬영
OLIVIA_PHOTO_WORK_ROOT=/Users/CHANGE_ME/Movies/올리비아작업
OLIVIA_VIDEO_PYTHON=/Users/CHANGE_ME/OliviaWorker/venv-video/bin/python
OLIVIA_FFMPEG_PATH=/opt/homebrew/bin/ffmpeg
